<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>CookRecipe_account_delete</title>
  </head>
  <body>
    <div class="wrapper header">
      <h1 class="home-content"><a href= "/">CookRecipe</a></h1>
      <div class="nav-bar">
        <a href= "/">HOME</a>
      </div>
    </div>
    <h2>＜名前：<%= @account.name %>＞</h2>
    <h2>＜ニックネーム：<%= @account.nickname %>＞</h2>
    <h2>本当に削除しますか？</h2>
    <div class="delete-button">
      <form action="/account_deleted/<%= @account.id %>" method="post">
        <button type="submit">削除を実行する</button>
      </form>
    </div>
  </body>
</html>