<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>CookMemory_form</title>
  </head>
  <body>
    <div class="backcolor">
      <div class="backcolor">
        <div class="wrapper header">
          <h1 class="home-content"><a href= "/">CookMemory</a></h1>
          <div class="nav-bar"><a href= "/">HOME</a></div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <h2>投稿画面</h2>

      <% if @nilimgfile %>
        <div class="nilimgfile"><%= @nilimgfile %></div>
      <% end %>

      <form action="/contentsave/<%= @account_id %>" method="post" enctype="multipart/form-data">
        <table>
          <tr><th><label for="input_title">タイトル</label></th></tr>
          <tr><td><div class="edit"><input id="input_title" type="text" name="title" value= "<%= @title %>"></div><td><tr>
        </table>
        <div class="content-detail">
          <label for="input_content">投稿内容</label>
          <div class="edit"><textarea id="input_content" name="content" rows="4" cols="40"><%= @content %></textarea></div>

          <label for="input_content_img"></label>
          <input type="file" id="input_content_img" name="imgfile" accept="image/*">

          <div class="edit-form-buttom">
            <button type="submit">投稿する</button>
          </div>
        </div>
      </form>
    </div>
    <div class="futaer">
    </div>
  </body>
</html>