<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>CookMemory_signup</title>
  </head>
  <body>
    <div class="wrapper header">
      <h1 class="home-content"><a href= "/">CookRecipe</a></h1>
      <div class="nav-bar">
        <a href= "/">HOME</a>
        <a href= "/login">Login</a>
      </div>
    </div>
    <div class="wrapper">
      <h2>Signup</h2>

      <div class="passmiss"><%= @signupmiss if @signupmiss%></div>
      <div class="passmiss"><%= @name_length_miss if @name_length_miss%></div>

      <div class="signup-login">
        <form action="/signup" method="post">
          <label for="input_name">名前 </label><br>
          <input id="input_name" type="text" name="name" placeholder = "被らない名前にしてください" value="<%= @namemiss %>"><br>

          <label for="input_nickname">ニックネーム </label><br>
          <input id="input_nickname" type="text" name="nickname" placeholder = "公開される名前です(6文字以内)" value="<%= @nickname %>"><br>

          <label for="input_pass">パスワード </label><br>
          <input id="input_pass" type="password" name="password"><br>

          <label for="input_re_pass">パスワード確認用 </label><br>
          <input id="input_re_pass" type="password" name="confirmation"><br>

          <div class="signup-login-button"><button type="submit">Signup</button></div>
        </form>
      </div>
    </div>
    <div class="futaer">
    <div>
  </body>
</html>